:root {
  --ilw-statistic--font-size: 1.25rem;
  --ilw-statistic--line-height: 1.5rem;
  --ilw-statistic--stat-color: var(--ilw-color--heading);
  --ilw-statistic--stat-font-size: 4rem;
  --ilw-statistic--stat-line-height: 1.875rem;
  --ilw-statistic--stat-padding: .8rem 0 1.75rem 0;
  --ilw-statistic--source-font-size: 1.0625rem;
  --ilw-statistic--source-line-height: 1.4375rem;
  --ilw-statistic--top-margin: 0 0 .5rem 0;
  --ilw-statistic--source-margin: 1rem 0 0 0;
}

ilw-statistic {
  display: block;
  margin: 0.9375rem;
  padding: 1.875rem 1.25rem;
  text-align: center;
  line-height: var(--ilw-statistic--line-height);
  font-family: var(--il-font-sans);
  font-weight: 400;
  font-size: var(--ilw-statistic--font-size);
  background: var(--ilw-color--background);
  color: var(--ilw-color--text);
}

ilw-statistic *[slot=stat] {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: var(--ilw-statistic--stat-padding);
  font-size: var(--ilw-statistic--stat-font-size);
  line-height: var(--ilw-statistic--stat-line-height);
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

ilw-statistic *[slot=top] {
  position: relative;
  display: inline-block;
  margin: var(--ilw-statistic--top-margin);
}

ilw-statistic *[slot=source] {
  position: relative;
  display: inline-block;
  margin: var(--ilw-statistic--source-margin);
  padding: var(--ilw-statistic--source-padding);
  font-style: italic;
  font-size: var(--ilw-statistic--source-font-size);
  line-height: var(--ilw-statistic--source-line-height);
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}

ilw-statistic a {
  color: var(--ilw-color--link);
  text-decoration: underline;
  cursor: pointer;
}

ilw-statistic a:visited {
  color: var(--ilw-color--link-visited);
}

ilw-statistic a:hover {
  color: var(--ilw-color--link-hover);
}

ilw-statistic a:focus {
  background-color: var(--ilw-color--focus--background);
  color: var(--ilw-color--focus--text);
  outline-color: var(--ilw-color--focus--outline);
}

ilw-statistic[accent="orange"] {
  --ilw-statistic--stat-color: var(--il-orange);
}

ilw-statistic[accent="altgeld"] {
  --ilw-statistic--stat-color: var(--il-altgeld);
}

ilw-statistic[accent="arches"] {
  --ilw-statistic--stat-color: var(--il-arches);
}

ilw-statistic[accent="industrial"] {
  --ilw-statistic--stat-color: var(--il-industrial);
}

ilw-statistic[theme] {
  --ilw-statistic--stat-color: var(--ilw-color--heading);
}


ilw-statistic[size="small"] {
  --ilw-statistic--font-size: 1.125rem;
  --ilw-statistic--line-height: 1.188rem;
  --ilw-statistic--stat-font-size: 3rem;
  --ilw-statistic--stat-padding: 1.5rem 0 1.8rem 0;
  --ilw-statistic--source-font-size: 1rem;
  --ilw-statistic--source-line-height: 1.25rem;
  --ilw-statistic--source-margin: .75rem 0 0 0;
  --ilw-statistic--top-margin: 0;
}

ilw-statistic[size="large"] {
    --ilw-statistic--font-size: 1.375rem;
    --ilw-statistic--line-height: 1.625rem;
    --ilw-statistic--stat-font-size: 5.875rem;
    --ilw-statistic--stat-padding: 1.5rem 0 2.5rem 0;
    --ilw-statistic--source-font-size: 1.125rem;
    --ilw-statistic--source-line-height: 2rem;
    --ilw-statistic--source-margin: 1rem 0 0 0;
    --ilw-statistic--top-margin: 0 0 .75rem 0;
}

ilw-statistic[size="x-large"] {
    --ilw-statistic--font-size: 1.5rem;
    --ilw-statistic--line-height: 1.75rem;
    --ilw-statistic--stat-font-size: 8.25rem;
    --ilw-statistic--stat-padding: 2rem 0 3.5rem 0;
    --ilw-statistic--source-font-size: 1.1875rem;
    --ilw-statistic--heading-margin: 0 0 0.3125rem 0;
    --ilw-statistic--source-margin: 1.5rem 0 0 0;
    --ilw-statistic--top-margin: 0 0 1rem 0;
}

@media only screen and (max-width: 50rem) {
    ilw-statistic *[slot=stat] {
      margin: .25em 0;
      display: block;
      font-size: 2.75em;
      text-align: center;
    }
  }

